<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="golang" />
  <package id="winrar" />
  <package id="jdk8" />
  <package id="adobereader" />
  <package id="7zip" />
  <package id="nodejs" />
  <package id="git" />
  <package id="7zip.commandline" />
  <package id="procexp" />
  <package id="atom" />
  <package id="ruby" />
  <package id="dotnet3.5" />
  <package id="paint.net" />
  <package id="python2" />
  <package id="linqpad5" />
  <package id="kdiff3" />
  <package id="jq" />
  <package id="visualstudio2017professional" />
  <package id="resharper" />
  <package id="sourcetree" />
</packages>
